body {
  background-color: #E8F6EF;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 7%;
}
h1 {
  color: #63B4B8;
}
h2 {
  color: #63B4B8;
}
h3 {
  color: #63B4B8;
}
img {
  border-radius: 50%;
}
